:root {
    --primary-color: #fc5db4;
    --secondary-color: #2c2c2c;
    --third-color: #e0e0e0;
    /* Font Variables */
    --font-family: cairo;
    --font-size: 16px;
}
/* End Global Variables */
* {
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    position: relative;
    box-sizing: border-box;
}
.container {
    margin-inline: auto;
    width: auto;
    max-width: 1200px;
}
header {
    text-align: center;
    color: var(--secondary-color);
}

header p {
    font-size: 20px;
    margin-bottom: 30px;
}

header h1 {
    line-height: 1.6;
    font-size: 30px;
    font-weight:900;
    display: inline-block;
    margin-block: 40px 20px;
}
section {
    text-align: center;
    color: white;
    background-color: var(--secondary-color);
    font-size: 30px;
    font-weight: 900;
    padding-block: 20px;
}
section p {
    margin: 0;
    color: white;
    font-size: 20px;
}

.cards {
    margin-block: 60px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 60px;
}
.cards div {
    border-radius: 20px;
    background-color: var(--third-color);
}

.cards .card {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards > div {
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
.cards > div:hover {
    border-style: solid;
    border-color: var(--primary-color);
    box-sizing: border-box;
    transform: scale(1.05);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
        rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
        rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.cards .img img {
    padding-inline: 40px;
    width: 300px;
    height: auto;
    border-radius: 60px;
    margin-inline: auto;
}

.cards .txt {
    max-width: 100%;
    text-align: center;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 900;
}
